# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Generated Prisma files
/src/generated/prisma

# User-uploaded files
uploads/

# Logs
*.log

# Operating system files
.DS_Store